---
import Card from "./Card.astro";

const datas = [
  {
    title: "Speaker at Google Developer Creators and Online Communities Summit",
    body: "Singapore, 2024",
    href: "https://www.youtube.com/live/2Gaii8gQ6To?si=dv9GNPrJb2dwoKYu&t=5522",
    techStack: [""],
  },
  {
    title: "Bersinar",
    body: "Co-Founder",
    href: "https://bersinarproject.com",
    techStack: [""],
  },
  {
    title: "Bersinar",
    body: "Manager of IT (Dec 2020-Jun 2022)",
    href: "https://bersinarproject.com",
    techStack: [""],
  },
  {
    title: "Bersinar",
    body: "Backend Developer (Dec 2022 - Nov 2023)",
    href: "https://bersinarproject.com",
    techStack: [""],
  },
  {
    title: "Google Developer Student Clubs - Universitas Syiah Kuala",
    body: "Chapter Lead (Aug 2022 - Jul 2023)",
    href: "https://gdscusk.com",
    techStack: [""],
  },
];
---

{
  datas.map((data) => (
    <div class="mb-2 mt-2">
      <Card
        title={data.title}
        body={data.body}
        href={data.href}
        tags=""
        techStack={data.techStack}
      />
    </div>
  ))
}
