---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="title" content="Home | razanfawwaz.xyz" />
    <meta
      name="description"
      content="Muhammad Razan Fawwaz, an undergraduate student at Universitas Syiah Kuala. Personal Website."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.razanfawwaz.xyz/" />
    <meta property="og:title" content="Razan Fawwaz" />
    <meta
      property="og:description"
      content="Muhammad Razan Fawwaz, an undergraduate student at Universitas Syiah Kuala. Personal Website."
    />
    <meta property="og:image" content="https://razanfawwaz.xyz/meta.jpg" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://www.razanfawwaz.xyz/" />
    <meta property="twitter:title" content="Razan Fawwaz" />
    <meta
      property="twitter:description"
      content="Muhammad Razan Fawwaz, an undergraduate student at Universitas Syiah Kuala. Personal Website."
    />
    <meta property="twitter:image" content="https://razanfawwaz.xyz/meta.jpg" />
    <script async="" src="https://cdn.splitbee.io/sb.js"></script>
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
